/* 전 항목 공통 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
}
.head_1{
    width: 100%;
    max-width: 1920px;
    min-width: 1500px;
}
.main{
    width: 100%;
    height: 100vh;
    border-radius: 0px 0px 98px 98px;
    position: relative;
    overflow: hidden;
}

.main iframe {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 56.25vw; /* 9 / 16 */

    min-width: 177.77vh;
    min-height: 100vh;

    transform: translate(-50%, -50%);
    pointer-events: none;
    
}

.main_1{
    width: 70%;
    max-width: 1386px;
    min-width: 1000px;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 570px;
}
.main_1_1{
    width: 100%;
}



.main2{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.main_2_1{
    width: 100%;
}